extends layout

block content
  h1= message
  h2= error.status
  pre #{error.stack}
  .vailign-wrapper(style="height: 100%;")
      .container.valign#content
          h1.center-align#error_code #{message}
              hr
              h2.center-align#return_home
                  a(href="/") Return Home
