extends layout

block content
  .vailign-wrapper(style="height: 100%;")
      .container.valign#content
          h1.center-align #{error.status} #{message}
          pre #{error.stack}
              hr
              h2.center-align#return_home
                  a(href="/") Return Home
