extends layout

block header
	link(rel='stylesheet', href='/css/error.css')

block content
	#content.container.valign
		h1#error_code.center-align Error: #{error.status} #{message}
		hr
		pre #{error.stack}
		.center-align
			a#turnAround.waves-effect.waves-light.btn(href="/") Return Home
				i.mdi-navigation-arrow-back.left
