footer.page-footer(style='padding:0;')
	//.container
		.row
			.col.l6.s12
				h5.white-text Footer Content
				p.grey-text.text-lighten-4 TEST
			.col.l4.offset-l2.s12
				h5.white-text Links
				ul
					li
						a.grey-text.text-lighten-3(href='#') Link 1
					li
						a.grey-text.text-lighten-3(href='#') Link 2
					li
						a.grey-text.text-lighten-3(href='#') Link 3
					li
						a.grey-text.text-lighten-3(href='#') Link 4
	.footer-copyright
		.container &copy; 2015 Friendwagon Team | Made with &#10084; at BrickHack
			a.grey-text.text-lighten-4.right(href='https://github.com/alanplotko/RoadTrip') Check us out on GitHub!