extends splash

block header
	link(rel='stylesheet', href='/css/splash.css')
	link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Kalam:300|Open+Sans:300', type='text/css')

block content
	.container.valign.center-align
		.row
			.col.s12
				h1.logo= title
				h2 Find Your Adventure
			.col.s6
				a.splashBtn.waves-effect.waves-teal.btn-large.btn-flat(href='/roadtrip', style='float: left;') Create a Road Trip
			.col.s6
				a.splashBtn.waves-effect.waves-teal.btn-large.btn-flat(href='/roadtrip', style='float: right;') Find a Road Trip