extends splash

block header
	link(rel='stylesheet', href='/css/splash.css')
	link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lobster+Two:400italic|Open+Sans:300', type='text/css')

block content
	.container.valign.center-align
		.row
			.col.s12
				h1.logo= title
				h2 Find Your Adventure
				#btnWrapper.center-align
					a.splashBtn.waves-effect.waves-teal.btn-large.btn-flat(href='/create') Create a Road Trip
					a.splashBtn.waves-effect.waves-teal.btn-large.btn-flat(href='/search') Find a Road Trip