nav
	.nav-wrapper
		a.brand-logo(href='/') Friendwagon
			i.mdi-maps-directions-car.left
		a.button-collapse(href='#', data-activates='slide-out')
			i.mdi-navigation-menu
		ul#nav-mobile.right.hide-on-med-and-down
			li
				a(href='/') Home
			li
				a(href='/roadtrip') My Road Trips

		ul#slide-out.side-nav
			li.home.center-align Friendwagon
				i.mdi-action-dashboard
			li
				a(href='/') Home
			li
				a(href='/roadtrip') My Road Trips