extends layout

block header
	link(rel='stylesheet', href='/css/style.css')
	link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Kalam:300|Open+Sans:300,400', type='text/css')
	script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?sensor=true&libraries=places,visualization')

block content
	#content-wrapper.row
		#sidebar.col.s3
			.content
				h1.logo(href='/') Friendwagon
					i.mdi-maps-directions-car.left
		.valign-wrapper(style='height:100vh;')
			p#placeholder.center-align.valign Road trip planning in progress...
		#map-wrapper.col.s9
			#map_canvas
			#people
				h1 Guests
				hr
				.row
					.container
						.col.s3
							img.avatar(src='https://2.gravatar.com/avatar/767fc9c115a1b989744c755db47feb60?s=132&d=wavatar')
							p NAME 1
						.col.s3
							img.avatar(src='https://2.gravatar.com/avatar/767fc9c115a1b989744c755db47feb60?s=132&d=wavatar')
							p NAME 2
						.col.s3
							img.avatar(src='https://2.gravatar.com/avatar/767fc9c115a1b989744c755db47feb60?s=132&d=wavatar')
							p NAME 3
						.col.s3
							img.avatar(src='https://2.gravatar.com/avatar/767fc9c115a1b989744c755db47feb60?s=132&d=wavatar')
							p NAME 4
			include footer.jade

	script(src='/js/gmaps.js')

	script.
		$(document).ready(function() {
			$('#sidebar').css('height', $(document).height() + 'px');
		});