extends layout

block header
	link(rel='stylesheet', href='/css/form.css')
	link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lobster+Two:400italic|Open+Sans:300,400', type='text/css')

block content
	#content-wrapper.row
		div(style='height:calc(100vh - 50px); overflow-y: scroll;')
			p#search.center-align Search Road Trips
			hr.separator
			.row.center-align
				#searchResults.col.s12
			div.container.col.s12
				form#searchRoadTrips.col.s6.offset-s3(action='#', method='POST')
					.row
						.input-field.col.s12
							input#destination.validate(type='text', required='required')
							label(for='destination') Destination
					.row
						.input-field.col.s12
							input#time.datepicker(type='date')
							label(for='time') Date
					.row
						.input-field.col.s12
							p.range-field
								input#seats.validate(type='range', min='1', max='7', value='4', style='border: none;')
								label(for='seats',style='margin: 20px 0 0 -12px;') Number of Available Seats
					button.btn.waves-effect.waves-light(type='submit', name='action', style='font-size: 18px; float: right;') Submit
						i.mdi-content-send.right
		
		include footer.jade

	script.
		$(document).ready(function() {
			$('.datepicker').pickadate({ selectMonths: true, selectYears: 1 });
		});

		$('#searchRoadTrips').submit(function(event) {
			event.preventDefault();
			$.ajax({
				url: 'http://s4.jagels.io:3000/trips',
				success: function(data) {
					$('#searchRoadTrips').fadeOut();
					var locations = [];
					$.each(data, function(index, value) {
						if(value.destination === $('input#destination').val() && value.seats >= parseInt($('input#seats').val())) {
							locations.push(value);
						}
					});
					$.each(locations, function(index, value) {
						var $card = $('<div class="card"><div class="card-image waves-effect waves-block waves-light"><img class="activator" src=""></div><div class="card-content"><span class="card-title activator grey-text text-darken-4"></span><p></p></div></div>');
						$card.find(".card-title").text(value.origin + " -> " + value.destination);
						$card.find(".card-content p").html(value.seats + " seats are available for this road trip. Hosted by " + value.userid + "." + " <a href='/roadtrip/" + value.userid + "'>Click here to view this road trip!</a>");
						$card.find(".card-image img").attr('src', "https://maps.googleapis.com/maps/api/staticmap?path=color:0x0000ff%7Cweight:5%7C" + value.origin + "%7C" + value.destination + "&markers=color:green%7Clabel:A%7C" + value.origin + "%7C\&markers=color:red%7Clabel:B%7C" + value.destination + "%7C&size=400x300");
						$card.css('display', 'none');
						$('#searchResults').append($card);
						$card.fadeIn();	
					});
				},
				type: 'GET'
			});
		});