extends layout

block header
	link(rel='stylesheet', href='/css/form.css')
	link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lobster+Two:400italic|Open+Sans:300,400', type='text/css')

block content
	#content-wrapper.row
		.valign-wrapper(style='height:calc(100vh - 50px);')
			p#search.center-align.valign Search Road Trips
			form.col.s12
				.row
					.input-field.col.s6
						input#first_name.validate(placeholder='Placeholder', type='text')
						label(for='first_name')
				.row
					.input-field.col.s6
						input#first_name.validate(placeholder='Placeholder', type='text')
						label(for='first_name')
				.row
					.input-field.col.s6
						input#first_name.validate(placeholder='Placeholder', type='text')
						label(for='first_name')
				.row
					.input-field.col.s6
						input#first_name.validate(placeholder='Placeholder', type='text')
						label(for='first_name')
		include footer.jade