form#searchRoadTrips.col.s6.offset-s3(action='#', method='POST')
	.row
		.input-field.col.s12
			input#origin.validate(type='text', required='required')
			label(for='destination') Origin
	.row
		.input-field.col.s12
			input#destination.validate(type='text', required='required')
			label(for='destination') Destination
	.row
		.input-field.col.s12
			input#time.datepicker(type='date')
			label(for='time') Date
	.row
		.input-field.col.s12
			p.range-field
				input#seats.validate(type='range', min='0', max='7', value='3', style='border: none;')
				label(for='seats',style='margin: 20px 0 0 -12px;') Number of Available Seats
	button.btn.waves-effect.waves-light(type='submit', name='action', style='font-size: 18px; float: right;') Submit
		i.mdi-content-send.right
		