/*------------
	Form
--------------*/

html, body {
	height: 100%;
}

body {
	background-color: #263238;
}

#content-wrapper {
	margin: 0;
}

footer {
	margin-top: 0!important;
	width: 100%;
	position: fixed;
	bottom: 0;
}

footer.page-footer .footer-copyright {
	background-color: teal;
}

#search {
	font-family: 'Open Sans', sans-serif;
	font-size: 48px;
	width: 100%;
	color: #fff;
	margin: 0;
	padding: 50px;
}

form {
	padding: 100px;
	font-family: 'Open Sans', sans-serif;
}

input, .input-field label  {
	color: #fff;
	font-size: 18px;
}

input[type=text] {
	font-size: 18px;
}

input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
	border-bottom: 1px solid #fff;
	box-shadow: 0 1px 0 0 #fff;
}

input[type=text]:focus:not([readonly]) + label, input[type=password]:focus:not([readonly]) + label, input[type=email]:focus:not([readonly]) + label, input[type=url]:focus:not([readonly]) + label, input[type=time]:focus:not([readonly]) + label, input[type=date]:focus:not([readonly]) + label, input[type=datetime-local]:focus:not([readonly]) + label, input[type=tel]:focus:not([readonly]) + label, input[type=number]:focus:not([readonly]) + label, input[type=search]:focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label {
	color: #fff;
}

.card {
	margin: 0.5rem 20px 1rem 0;
	width: 400px;
	display: inline-block;
}

/*--------------
	Scrollbar
----------------*/

::-webkit-scrollbar {
	width: 8px;
	height: 4px;
}

::-webkit-scrollbar-track-piece {
	background-color: #263238;
}

::-webkit-scrollbar-thumb:vertical {
	height: 5px;
	background-color: #adadad;
	box-shadow: inset 1px 0 4px #999;
}

::-webkit-scrollbar-thumb:horizontal {
	width: 5px;
	background-color: #adadad;
	box-shadow: inset 1px 0 4px #999;
}
