html, body {
    height: 100%;
}

body {
    background-color: #212121;
}

body::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
    background: url('../img/bg.jpg');
    background-size: cover;
    opacity: 0.3;
}

h1.logo {
	font-family: 'Kalam', sans-serif;
	font-weight: 100;
	font-size: 144px;
	color: #FAFAFA;
	margin: 0;
	padding: 30px;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 64px;
	color: #FAFAFA;
}

a#create {
	font-size: 18px;
	position: relative;
	top: 50px;
}