html, body {
    height: 100%;
}

body {
    background-color: #FBFBFB;
}

#content-wrapper {
	margin: 0;
}

#placeholder {
	font-family: 'Open Sans', sans-serif;
	font-size: 48px;
	width: 100%;
	color: #bbb;
}

/*--------------
	Google Maps
----------------*/

#map-wrapper {
	height: calc(100vh - 64px);
	padding: 0;
	display: none;
}

#map_canvas {
	height: 70%;
	border-bottom: 2px solid #263238;
}

/*--------------
	Sidebar
----------------*/

#sidebar {
	background-color: #263238;
	height: 100vh;
	color: #fff;
	padding: 20px;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
}

#sidebar h1.logo {
	font-family: "Kalam", sans-serif;
	text-align: center;
	font-size: 36px;
	margin: 0;
}

#sidebar h1.logo i {
	margin-top: -5px;
}

/*--------------
	People
----------------*/

#people h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 36px;
	text-align: center;
	margin: 0;
}

#people {
	padding: 10px;
}

#people hr {
	margin: 0 0 20px 0;
}

#people div {
	text-align: center;
}

#people .row {
	margin: 0;
}

#people img.avatar {
	width: 100px;
	border-radius: 100px;
}

/*--------------
	Scrollbar
----------------*/

::-webkit-scrollbar {
	width: 8px;
	height: 4px;
}

::-webkit-scrollbar-track-piece {
	background-color: #263238;
}

::-webkit-scrollbar-thumb:vertical {
	height: 5px;
	background-color: #adadad;
	box-shadow: inset 1px 0 4px #999;
}

::-webkit-scrollbar-thumb:horizontal {
	width: 5px;
	background-color: #adadad;
	box-shadow: inset 1px 0 4px #999;
}

/*--------------
	Footer
----------------*/

footer {
	margin-top: 0!important;
	width: 100%;
}